.background {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 20px;
    height: calc(90vh - 20px);
    width: 98%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-color: #D9D9D9;
    overflow: hidden;
}